*~
*.swp
*.log

/docs/

/bully/
/doc/bully/

# Python

*.pyc
/pyvenv.cfg
/lib/python*/
/lib64
/share/python*/
/include/site/python*/
/__pycache__/

# Erlang/Elixir

*.beam
*.crashdump
/erl_crash.dump
_build/
deps/
rebar.lock
mix.lock
/assets/node_modules/
/priv/static/

!.gitignore
